html {
	background: aliceblue;
}
#bannerParent {
	font-size: 20px;
	background: gainsboro;
	text-align: center;
}
#bannerHeader, #bannerClock, #bannerDate {
	margin: 3px;
}
.totals {
	height: 100vh;
	text-align: center;
}
h3 {
	font-size: 33px;
	text-align: center;
	margin-top: 0;
}
h4 {
	margin: 5px;
	font-size: 25px;
}
img {
	display: inline-block;
	margin: 0 auto;
	width: 75%;
	height: 200px;
}
.switchGraphBtn {
	font-size: 25px;
	height: 200px;
	vertical-align: top;
	margin-left: 3px;
	margin-right: 3px;
	border: 0;
}
.totalsAndStats {
    width: 85%;
    margin: 5px auto;
    font-weight: bold;
    font-size: 23px;
}

.modalBG{
    background: rgba(0,0,0,.75);
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

#modalForm {
    text-align: center;
    padding: 15px;
    background: white;
    position: absolute;
    top: 20%;
    left: 7%;
    right: 7%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

#exitBtn{
	position: absolute;
    top: 5px;
    right: 5px;
}
.modalInput{
	display: block;
}
select, #typeModal{
	display: inline-block;
}

input{
	text-align: center;
	margin: auto;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: lightgreen;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px lightgreen;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
  }

  .totalSection{
	display: flex;
    justify-content: space-between;
  }

  .totalLabel, .totalValue{
	  display: inline-block;
  }

  .totalLabel{
	  margin-right: 5px;
	  margin-left: 10px;
  }
  .totalValue{
	  margin-right: 10px;
  }

  .subTotal{
	 background: lightgreen;
  }
  .subtraction{
	  background: lightcoral;
  }

.plans, .records, .productivity{
	display: inline-block;
}

.records, .plans{
	font-size: 20px;
	position: relative;
    padding: 5px;
    background: gainsboro;
    margin: 5px;
}


.records{
	right: 20px;
}
.plans{
	left: 20px;
}