<form name="modalForm"  id="modalForm" ng-submit="vm.formSubmit(vm.verb, vm.nameVal, vm.minutes, vm.category, vm.productivity)">

    <legend>{{vm.title}}</legend>

    <input class="modalInput" type="text" ng-model="vm.nameVal" required/>

    <input class="modalInput" type="number" ng-model="vm.minutes" required />

    <label id="categoryLabel">Category:</label>
    <select ng-model="vm.category">
        <option value="" selected>Select</option>
        <option ng-selected="vm.category === 'One Time'">One Time</option>
        <option ng-selected="vm.category === 'Routine'">Routine</option>
        <option ng-selected="vm.category === 'Project'">Project</option>
        <option ng-selected="vm.category === 'Problem'">Problem</option>
        <option ng-selected="vm.category === 'Other'">Other</option>
    </select>

    <div>
        <label>Productive?</label>
        <label class="switch">
            <input ng-model="vm.productivity" type="checkbox" ng-checked="vm.productivity">
            <span class="slider"></span>
        </label>
    </div>

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    <button class="exitBtn" ng-click="vm.modalExit()">X</button>

</form>